<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310425095055-babo4ejpu3kconkgj0kdj6a0bevhhn40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310425095055-babo4ejpu3kconkgj0kdj6a0bevhhn40</string>
	<key>API_KEY</key>
	<string>AIzaSyB1P2uq8ERuEfE4aXDQNcuJg2CJxrqsjCI</string>
	<key>GCM_SENDER_ID</key>
	<string>310425095055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daniilpazin.Capybara</string>
	<key>PROJECT_ID</key>
	<string>capybara-d1f5f</string>
	<key>STORAGE_BUCKET</key>
	<string>capybara-d1f5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310425095055:ios:dcb968eb8a6ff7980fd9fa</string>
	<key>DATABASE_URL</key>
	<string>https://capybara-d1f5f-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>